.font-s-14{
    font-size: 14px;
}
.font-s-18{
    font-size: 18px;
}
.ml-auto{
    margin-left: auto;
}
.mr-auto{
    margin-right: auto;
}
.ml-2{
    margin-left: 0.5rem;
}
.text-uppercase{
    text-transform: uppercase;
}